doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/style.css")
    title uos 화장실 
  body
    #map-container
      img#map-image(src="/images/siripmap.jpg" alt="Map" draggable="false")
    button#reset-button 초기 위치로 돌아가기
    button#board-button 게시판으로 이동
    script(src="/javascripts/markers.js")
    script(src="/javascripts/script.js")
